## Noah's Rug Coding Challenge

# Imports

In [4]:
import pandas as pd

# Data Sourcing

In [5]:
customers = pd.read_csv("5784/noahs-customers.csv")

# Data Exploration

In [6]:
customers.head

<bound method NDFrame.head of       customerid                     name                address  \
0           1001       Jacqueline Alvarez      105N Elizabeth St
1           1002             Julie Howell        185-1 Linden St
2           1003          Christopher Ali    174-28 Baisley Blvd
3           1004    Christopher Rodriguez      102 Mount Hope Pl
4           1005        Jeffrey Wilkinson         17 St Marks Pl
...          ...                      ...                    ...
8255        9256           Leslie Johnson           2364 1st Ave
8256        9257            Susan Gilmore  1025B Castle Hill Ave
8257        9258  Valerie Michelle Bowman           98 Aspen Way
8258        9259               Sandy Rios     143-9 Ferndale Ave
8259        9260           Michael Brooks           1703 Park Pl

             citystatezip   birthdate         phone             timezone  \
0     Manhattan, NY 10013  1958-01-23  315-377-5031     America/New_York
1      Brooklyn, NY 11221  1956-12-03  680-537-8725     America/New_York
2       Jamaica, NY 11434  2001-09-20  315-846-6054     America/New_York
3         Bronx, NY 10453  1959-07-10  516-275-2292     America/New_York
4     Manhattan, NY 10003  1988-09-08  838-830-6960     America/New_York
...                   ...         ...           ...                  ...
8255  Manhattan, NY 10035  1995-01-02  914-511-7261     America/New_York
8256      Bronx, NY 10472  1960-11-11  516-774-9355     America/New_York
8257     Denver, CO 80294  1992-02-09  719-991-9904       America/Denver
8258    Jamaica, NY 11435  1954-05-02  516-361-8507     America/New_York
8259   Hesperia, CA 92344  1945-09-26  415-339-0869  America/Los_Angeles

           lat        long
0     40.71817  -73.997468
1     40.69426  -73.921670
2     40.68902  -73.773470
3     40.84939  -73.909160
4     40.72804  -73.987120
...        ...         ...
8255  40.80120  -73.932930
8256  40.82980  -73.850300
8257  39.76200 -104.875800
8258  40.69033  -73.798100
8259  34.39750 -117.314700

[8260 rows x 9 columns]>